<div>
  <a routerLink="/">Back</a>

  <form (ngSubmit)="onSubmit()" [formGroup]="editRacerForm">

    <label for="name">Name: </label>
    <input formControlName="name" id="name" placeholder="name" type="text">

    <label for="car">Car: </label>
    <input formControlName="car" id="car" type="text">

    <label for="isLegal">Can race: </label>
    <input formControlName="isLegal" id="isLegal" type="checkbox">

    <label for="position">Position: </label>
    <input formControlName="position" id="position" type="number">

    <button [disabled]="!editRacerForm.valid" type="submit">Submit</button>
  </form>
</div>
